<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'img/bg.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body id="background" style="background-image:url('{% static 'img/bg.jpg'%}');">
 <header style="background-color:black;">
   <center><img src="{% static 'img/logo.jpg' %}" style="height:120px;width:120px;margin-right:1390px;">
    <div class="container text-center" style="margin-top:-110px;">
      <small style="color:orange;font-size:50px;">HALF TIME GRILL HOUSE</small> <br>
      <small style="color:white;font-size:20px;">Vadakkethara,Pazhayannur,Thrissur</small><br>
<small style="font-size:20px;color:white;">828 110 499/ 828 110 599</small>

    </div></header>
<nav class="navbar navbar-expand-lg bg-dark ">
  <a class="navbar-brand" href="#">HALF TIME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'resto:allproducts' %}">Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item dropdown" style="font-weight:bold;color:black;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'resto:allproducts' %}">All Categories</a></li>
            {% for i in links %}
              <li><a class="dropdown-item" href="{% url 'resto:viewproducts' i.slug %}">{{i.name}}</a></li>
            {% endfor %}
          </ul></li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'resto:logout' %}">logout</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'cart:cart_view' %}"><i class="fa-solid fa-cart-shopping"></i>{{item_count}}</a>
        </li>
               <li class="nav-item">
          <a class="nav-link" href="{% url 'cart:orderview' %}">Your Orders</a>
        </li>


        {% else %}
            <li class="nav-item">
          <a class="nav-link" href="{% url 'resto:login' %}">login</a>
        </li>

          <li class="nav-item">
          <a class="nav-link" href="{% url 'resto:register' %}">Register</a>
        </li>

        {% endif %}



    </ul>
      <div2>
    <form class="d-flex" action="{% url 'search:searchresult' %}" method="POST">
      {% csrf_token %}
      <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form></div2>
  </div>
</nav>
{% block content %}
{% endblock %}



<br><br>
<footer class="footer" style="position:relative;margin-top:300px;">

         <img src="{% static 'img/logo.jpg' %}" style="height:120px;width:120px;margin-right:100px;">
                 <img src="{% static 'img/delivery.png' %}" style="height:50px;width:120px;margin-left:280px;margin-bottom:-100px;">

    <div class="container text-center" style="margin-top:-110px;">
      <small style="color:orange;font-size:40px;">HALF TIME GRILL HOUSE</small><br>
      <small>Vadakkethara,Pazhayannur,Thrissur</small><br>
<small style="font-size:20px;">828 110 499/ 828 110 599</small>
    </div>

  </footer>


</body>
</html>