{% extends 'base.html' %}
{% load static %}
{% block content %}
<table class="table table-bordered" style="background-color:black;">
    <tr style="color:white;"><th>Your Items</th>
    <td style="color:white; font-weight:bold;">Product name</td>
    <td style="color:white; font-weight:bold;">Price</td>
    <td style="color:white; font-weight:bold;">Total</td></tr>
    {% for i in cart %}
    <tr style="color:white;">
        <td>
        <img src="{{i.products.img.url}}" style="height:150px;width:150px;"></td>
        <td>{{i.products.name}}</td>
        <td>unit price:{{i.products.price}}
        quantity:{{i.quantity}}</td>
        <td style="font-weight:bold;font-size:30px;">{{i.subtotal}}</td>
         <td>Subtotal:{{i.subtotal}}</td>
                    {% if i.quantity < i.products.stock %}
                    <td><a href="{% url 'cart:addtocart' i.products.id %}"><i class="fa-solid fa-plus"></i></a>
                        <a href="{% url 'cart:cart_remove' i.products.id %}"><i class="fa-solid fa-minus"></i></a>
                        <a href="{% url 'cart:full_remove' i.products.id %}"><i class="fa-solid fa-trash"></i></a></td>
                    {% else %}
                    <td> <a href="{% url 'cart:cart_remove' i.products.id %}"><i class="fa-solid fa-minus"></i></a>
                        <a href="{% url 'cart:full_remove' i.products.id %}"><i class="fa-solid fa-trash"></i></a></td>
                    {% endif %}
    </tr>
    {% endfor %}
</table>
<div>
    <table class="table table bordered" style="padding:10px 20px;">
        <th colspan="5" style="font-weight:bold;color:white;"> checkout</th>
        <tr style="font-weight:bold;color:white;"> <th>total:&nbsp;{{total}} rupees</th></tr>

    </table>
    <a href="{% url 'cart:placeorder' %}" class="btn btn-primary">placeorder</a>
     <a href="{% url 'cart:pickup' %}" class="btn btn-primary">Pickup</a>
</div>

{% endblock %}